.home {
  background: linear-gradient(135deg, @secondary-color, @primary-color);
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    h1 {
      svg {
        width: 48rem;
        max-width: 90vw;
        .background {
          fill: @dark-color;
        }
        .outline {
          fill: @primary-color;
        }
        .text {
          fill: @light-color;
        }
      }
    }
    .cta {
      margin: @layout-padding-lg;
    }
  }
}

