.home {
  background: linear-gradient(135deg, @primary-color, @primary-color-dark);
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 80vh;
    .cta {
      margin-bottom: @layout-padding;
    }
  }
}

